<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Login">
      <setting id="username" type="text" label="Usuario" default=""/>
	  <setting id="password" type="text" label="Senha" option="hidden" default=""/>
   </category>
   <category label="Definiçõoes Gerais">
		<setting id="quality" type="enum" label="Qualidade do Video" values="HD|SD" default="0" />
		<setting id="parental" type="text" label="Parental Code" option="hidden" default=""/>
   </category>
    
</settings>
